<div class="col-lg-8 mx-auto">
  <div class="card">
    <h5 class="card-header bg-primary ">Confirmation pending</h5>
    <div class="card-body">
    <h5 class="card-title ">Hey! you are just one step away</h5>
        <p> We have sent you a confirmation  mail click to
        <br> <strong> Confirm Your Account  </p>
  </div>
</div>