<div class="col-lg-6 mx-lg-auto">
<div class="card shadow">
<div class="card-header">
<h2 class="card-title">Update An Employee</h2>
</div>
<div class="card-body">
<div class="edit_details">
  <%=form_with method:'PATCH',url: "/users/#{params[:id]}" do |f|%>
   <%=f.text_field :name ,placeholder: "Enter Updated Name",class: "form-control-lg"%>
  <br/>
  <br/>

  <%= f.email_field :email ,placeholder: "Enter Updated Email",class: "form-control-lg"%>
  
  <br />
  <%= f.submit "submit",class:"btn btn-success btn-lg mb-1" %>

  <% end %>
</div>




</div>
</div>
</div>
