
<div class="card">
 <div class="card-header text-center">
    Event Section
  </div>
  <div class="card-body d-flex flex-column align-items-center">
    <%# <h5 class="card-title">Event Section</h5> %>
  <%= link_to "CREATE NEW EVENT", new_event_path, { :class => "btn btn-primary mr-1"}%>
  <%= link_to "SHOW EXIST EVENT", event_path(0), { :class => "btn btn-secondary"}%><br>   
  </div>
</div> 

  





  
