<div class="card" style="width: 54rem;">
  <div class="card-body">
    <h5 class="card-title">Event Section</h5>
  <%= link_to "CREATE NEW EVENT", new_event_path, { :class => "btn btn-primary"}%>
  <%= link_to "SHOW EXIST EVENT", event_path(24), { :class => "btn btn-secondary"}%>   
  </div>
</div> 
  





  
