<div class="col-lg-6 mx-lg-auto">
<div class="card shadow">
<div class="card-header">
<h2 class="card-title">Event Details</h2>
</div>
<%if @events.exists?%>
<%@events.each do |e|%>
<div class="card-body">
  Title: <%=e.title %>
  <br/>
  Start_Date: <%= e.StartDate%> 
  <br/>
  EndDate : <%= e.EndDate%>

    <td><%= button_to 'Show All the received Reviews', reviews_path, method: 'get',class: "btn btn-info"  %></td>
  <br>
</div>
<%end%>
<%end%>
</div>
</div>

